<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css" />
    <title>Your Form Was Submitted</title>
    <p>Thank you for submitting your form!</p>
    <a class="ml-4 inline-flex text-gray-700 border-0 py-2 px-6 focus:outline-none hover:bg-gray-200 rounded text-lg"
            style="background-color: #0F7173" href="{{ url_for('index') }}">Home</a>
</head>
<body>
</body>
</html>